.header {
  background-color: #382633;
  color: white;
  border-bottom: 2px solid #A5CC6B; 
  text-align: center;
}

footer {
  min-height: 50px;
  background-color: #B9AF96;
}

.food-item {
  border-bottom: 1px dotted #806D40;
}
.food-item img {
  border: 1px solid #806D40;
}
