.App {
  text-align: center;
}

.App-header {
  background-color: #382633;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-header h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid #A5CC6B; 
}
h2  span:first-of-type {
  margin: 0 10px;
}

.mybadge {
  position: absolute;
  right: 3rem;
  font-size: 0.75rem;
  line-height: 25px;
  color: black;
}


footer {
  height: 50px;
  background-color: #B9AF96;
  display: table;
  width: 100%;
}

footer span, footer a {
  display: table-cell;
  vertical-align: middle;
}

